<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeEventsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <%= link_to "AwesomeEvents", welcome_index_path, class: "navbar-brand"%>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
